/*----------------------------------------
   Creative Economy Project - CSS Style
  ----------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

.rwd-break,
.btm-break,
.btt-break,
.mtr-break,
.survey-break,
.survey-title,
.form-break {
  display: none;
}

#nav-bar {
  position: fixed;
  width: 100%;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 5px solid rgba(0, 0, 0, 0.65);
  z-index: 2;
}

#nav-bar input{
  display: none;
}

#nav-bar ul {
  position: absolute;
  right: 3vw;
}

#nav-bar ul li {
  padding: 22px 2vw;
  display: inline-block;
  list-style: none;
}

#nav-bar ul li:hover {
  background-color: rgba(140, 209, 201, 0.9);
  border-bottom: 5px solid rgba(53, 78, 75, 0.6);
}
#nav-bar ul li:hover a{
  color: #000;
}

#nav-bar a {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  vertical-align: middle;
  color: #FFF;
}

#nav-bar p#logo a{
  position: absolute;
  padding-top: 10px;
  letter-spacing: 0px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  left: 5vw;
}

#nav-bar p#logo span{
  color: #40E0D0;
  font-size: 2.2rem;
}

#landing-page h1 {
  position: absolute;
  top: 23vh;
  right: 14vw;
  z-index: 1;
}

#landing-page h1 span.title {
  display: block;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 3.5rem;
  color: #FFF;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.15);
}

#landing-page h1 span.title span {
  color: #40E0D0;
  font-size: 3.6rem;
}

#landing-page h2 {
  position: absolute;
  padding: 25px 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.15rem;
  line-height: 30px;
  top: 55vh;
  right: 13vw;
  text-align: center;
  width: 350px;
  color: #FFF;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.15);
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  z-index: 1;
}

#landing-page video {
  position: relative;
  float: left;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background: #000;
  transition: all 2s ease;
  z-index: 1;
}

#project, #participate {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  z-index: 1;
  transform: skewY(-5deg);
}

#project {
  top: -10vh;
  background-color: #000;
}

#participate {
  top: -10vh;
  padding-top: 20vh;
  background-color: #FFF;
}

#project h1, #participate h1 {
  margin-left: 10vw;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 2px;
  transform: skewY(5deg);
}

#project h1 {
  padding-top: 25vh;
  color: #FFF;
}

#participate h1 {
  margin-top: 5vh;
  color: #000;
}

#project h1 span.dot,
#participate h1 span.dot,
#survey-form h1 span.dot {
  color: #40E0D0;
  font-size: 2.4rem;
}

#project div.long-text {
  margin: 0 10vw;
  width: 40vw;
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  transform: skewY(5deg);
}

#participate div.participate-container {
  margin: 5vh auto;
  padding-left: 12%;
  font-family: 'Open Sans', sans-serif;
  transform: skewY(5deg);
}

#participate div.column {
  margin: 3vh auto;
  margin-right: 3vw;
  width: 23vw;
  vertical-align: top;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

#participate div.column h2 {
  text-align: center;
  text-transform: uppercase;
  color: #40E0D0;
}

#participate div.column:last-child {
  margin-right: 0;
}

#project p {
  margin: 2.5vh 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 30px;
  color: #FFF;
}

#project p:first-child {
  margin-top: 0;
}

#project p:last-child {
  margin-bottom: 15vh;
}

#participate div.column p {
  margin: 4vh 0;
  line-height: 30px;
  text-align: left;
  font-size: 1.1rem;
}

#participate div.participate-button {
  margin: 5vh 5vw;
  width: 70vw;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 50px;
}

#project button,
#participate div.participate-button button,
#survey-form button {
  margin-top: 10vh;
  padding: 10px 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  background-color: #40E0D0;
  border-radius: 25px;
  border: 3px solid rgba(0, 0, 0, 0.2);
}

#project button {
  margin: 5vh 10vw 15vh;
}

#project button:hover {
  color: #000;
  background-color: rgba(140, 209, 201, 0.9);
  border: 3px solid rgba(53, 78, 75, 0.6);
}

#participate div.participate-button button:hover {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.6);
  border: 3px solid rgba(0, 0, 0, 0.2);
}

#survey-form {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin-bottom: 10vh;
}

#survey-form h1 {
  padding: 15vh 0 0 38vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
}

#survey-form h2 {
  padding-top: 5vh;
  padding-bottom: 3vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  line-height: 30px;
}

#survey-form h2 em {
  padding-top: 3vh;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 30px;
}

#survey-form h3 {
  padding: 1vh 0 0 5vw;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

#survey-form p.consent-form {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 3vh 5vw 0;
  text-align: left;
  line-height: 30px;
}

#survey-form input.agreement {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  height: 20px;
  width: 160px;
  padding: 5px;
  margin: 0 5px;
  border: 1px solid rgba(140, 209, 201, 0.7);
  border-radius: 5px;
}

#survey-form main ol.consent-form {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 2vh 5vw 0 7vw;
  text-align: left;
  line-height: 30px;
  counter-reset: item;
}

#survey-form main ol.consent-form li {
  list-style-type: none;
  counter-increment: item;
}

#survey-form main ol.consent-form li::before {
  display:inline-block;
  width: 1.5em;
  margin-right: 10px;
  font-weight: bold;
  text-align: left;
  content:counter(item) ".";
}

#survey-form main ul.consent-form {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 2vh 5vw 0 8.6vw;
  text-align: left;
  line-height: 30px;
}

#survey-form main {
  margin: 5vh auto 0;
  width: 60vw;
  height: auto;
  overflow: visible;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  border: 0.3px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06), 0 6px 15px 0 rgba(0, 0, 0, 0.018);
}

#survey-form main p#form-top {
  padding: 5vh 2vw 0vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
}

#survey-form main div.labels {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  display: inline-block;
  text-align: right;
  width: 40%;
  vertical-align: middle;
}

#survey-form main div#portfolio {
  margin-top: 5vh;
}

#survey-form main div#portfolio label {
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  width: 70%;
}

#survey-form main div.right-tab {
  display: inline-block;
  text-align: left;
  width: 55%;
  vertical-align: middle;
}

#survey-form main form {
  margin-top: 3vh;
  padding: 0 5vw;
}

#survey-form main div.thanks {
  height: 25.6vh;
  padding: 17vh 0 13vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}
#survey-form main div.thanks p{
  padding: 5px;
}

#survey-form .input-field {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  height: 25px;
  width: 250px;
  padding: 5px;
  margin: 10px;
  border: 1px solid rgba(140, 209, 201, 0.7);
  border-radius: 5px;
}

#survey-form .dropdown {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  height: 37px;
  width: 160px;
  padding: 5px;
  margin: 10px;
  border: 1px solid rgba(140, 209, 201, 0.7);
  border-radius: 5px;
}

#survey-form .inline {
  display: inline;
  margin-top: 2vh;
}

#survey-form div#social-media {
  width: 60%;
}

#survey-form .input {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  height: 25px;
  width: 240px;
  padding: 5px;
  margin: 10px;
  border: 1px solid rgba(140, 209, 201, 0.7);
  border-radius: 5px;
}

#survey-form input.consent {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  height: 20px;
  width: 240px;
  padding: 5px;
  margin: 0 5px;
  border: 1px solid rgba(140, 209, 201, 0.7);
  border-radius: 5px;
}

#survey-form label.consent {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  display: inline-block;
  text-align: right;
  width: 60%;
  vertical-align: middle;
}

#survey-form div.row-tab {
  margin-top: 1vh;
}

#survey-form div#top {
  margin-top: 5vh;
}

#survey-form ul.inside-form {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
  list-style: none;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

#survey-form li {
  padding: 5px;
}

#survey-form .work {
  margin-right: 10px;
}

#survey-form button {
  margin: 5vh 0;
}

#survey-form div.button {
  position: relative;
  left: -2.5vw;
}

#survey-form div.calendly-inline-widget{
  margin: 5vh 0;
  min-width: 300px;
  height: 730px;
  background-color: rgba(0, 0, 0, 0.02);
}

main div#thanks {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 19.7vh 8vw;
}

main div#thanks span.dot{
  display: block;
  font-size: 2rem;
  color: #40E0D0;
}

footer {
  position: relative;
  float: left;
  width: 100%;
  height: 60px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

footer div.footer-content {
  position: relative;
  float: left;
  top: -4px;
  text-align: center;
  width: 100%;
  border-top: 5px solid rgba(0, 0, 0, 0.8);
}

footer div.footer-content p {
  margin-top: 6px;
  font-family: "OpenSans", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.5);
}

footer div.footer-content img {
  width: 80px;
  vertical-align: middle;
}

/*----------------------------------------
   RESPONSIVE LAYOUT
  ----------------------------------------*/
@media screen and (max-width: 1450px) {
  #survey-form h1.consent {
    padding: 15vh 0 0 35vw;
  }
  #survey-form h1.thanks {
    padding: 15vh 0 0 33.5vw;
  }
}

@media screen and (max-width: 1360px) {
  #participate div.participate-button {
    margin-left: -3vw;
    width: 80vw;
  }
  .survey-break {
    display: block;
  }
}

@media screen and (max-width: 1260px) {
  #participate div.participate-button {
    font-size: 1.3rem;
    line-height: 45px;
  }
  #survey-form main {
    width: 70vw;
  }
  #survey-form h1.thanks {
    padding: 15vh 0 0 32vw;
  }
}

@media screen and (max-width: 1180px) {
  #survey-form h1 {
    padding: 15vh 0 0 35vw;
  }
  #survey-form main p#form-top {
    font-size: 1.1rem;
  }
  #survey-form h1.consent {
    padding: 15vh 0 0 32vw;
  }
  #survey-form h1.thanks {
    padding: 15vh 0 0 30vw;
  }
}

@media screen and (max-width: 1100px) {
  .calendar, {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  #participate div.participate-container {
    padding-left: 14%;
  }
  #participate div.participate-button {
    font-size: 1.15rem;
    line-height: 40px;
  }
  #survey-form h1 {
    padding: 15vh 0 0 30vw;
  }
  #survey-form main p#form-top {
    font-size: 1rem;
  }
  .form-break {
    display: block;
  }
  #survey-form h1.thanks {
    padding: 15vh 0 0 28vw;
  }
}

@media screen and (max-width: 900px) {
  .survey-title {
    display: block;
  }
  .btm-break {
    display: block;
  }
  #nav-bar div#toggle {
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
  }
  #nav-bar input {
    position: absolute;
    top: 16px;
    right: 6.5vw;
    width: 40px;
    height: 32px;
    display: block;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  #nav-bar div#toggle span {
    position: relative;
    display: block;
    top: 20px;
    left: 87.5vw;
    width: 35px;
    height: 4px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: #40E0D0;
    z-index: 2;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  #nav-bar div#toggle span:first-child {
    transform-origin: 0% 0%;
  }
  #nav-bar div#toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #nav-bar input:checked + div#toggle span {
    opacity: 1;
    transform: rotate(45deg) translate(-4px, -2px);
    background-color: #329086;
  }
  #nav-bar input:checked + div#toggle span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #nav-bar input:checked + div#toggle span:nth-last-child(2) {
    transform: rotate(-45deg) translate(-2px, -1px);
  }
  #nav-bar div#toggle ul {
    padding: 2vw 0 0 0;
    margin-top: 5.95vh;
    opacity: 0;
    display: none;
  }
  #nav-bar div#toggle ul li{
    position: relative;
    right: -20px;
    width: 100vw;
    padding: 2vw 0;
    background-color: rgba(0, 0, 0, 0.9);
  }
  #nav-bar ul li:last-child {
    border-bottom: 5px solid #000 !important;
  }
  #nav-bar div#toggle li a {
    display: block;
    padding: 0px 15vw;
    animation: none;
  }
  #nav-bar div#toggle ul li:hover {
    background-color: rgba(140, 209, 201, 0.9);
    border: 0px;
  }
  #nav-bar div#toggle ul li:hover a{
    color: #000;
  }
  #nav-bar input:checked + div#toggle ul {
    display: block;
    opacity: 1;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
  }
  #nav-bar input:checked + #nav-bar {
    background-color: rgba(0, 0, 0, 1);
    -webkit-animation: swing-in-top-bck 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.2s both;
	  animation: swing-in-top-bck 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.2s both;
  }
  #landing-page h1 {
    right: 0;
    margin-right: 10%;
  }
  #landing-page h2 {
    right: 0;
    margin-right: 8%;
  }
  #project h1{
    padding-top: 15vh;
  }
  #project div.long-text {
    margin: 5vh 15vw;
    width: 75vw;
  }
  #project h1,
  #participate h1 {
    margin-left: 0;
    text-align: center;
  }
  #participate h1 {
    margin-top: -2vh;
  }
  #participate div.column {
    width: 70vw;
  }
  #survey-form h1.consent {
    padding: 15vh 0 0 26vw;
  }
  #survey-form h1.thanks {
    padding: 15vh 0 0 23vw;
  }
  #survey-form main div.labels,
  #survey-form main div#portfolio {
    font-size: 0.9rem;
    display: block;
    text-align: left;
    width: 80%;
  }
  #survey-form main div.right-tab {
    display: block;
    width: 80%;
  }
  #survey-form ul.inside-form {
    width: 100%;
    margin-bottom: 2vh;
  }
  #survey-form .input-field {
    width: 115%;
  }
  #survey-form select.dropdown {
    width: 118%;
  }
  #survey-form select.inline {
    width: 157% !important;
  }
  #survey-form input.inline {
    width: 152% !important;
  }
  #survey-form h2 {
    padding-right: 5vw;
    padding-left: 5vw;
    font-size: 1.3rem;
  }
  #survey-form label.consent {
    text-align: left;
    width: 40%;
  }
  #survey-form input.consent {
    width: 120%;
  }
  main div#thanks {
    font-size: 1.1rem;
    padding: 20vh 8vw;
  }
}

@media screen and (max-width: 800px) {
  #nav-bar input {
    right: 5.8vw;
  }
  #survey-form h1 {
    padding: 15vh 0 0 26vw;
  }
  #survey-form h1.consent {
    padding: 15vh 0 0 23vw;
  }
  #survey-form h1.thanks {
    padding: 15vh 0 0 20vw;
  }
  #survey-form main div#portfolio label {
    margin: 20px 0;
    width: 90%;
  }
  #survey-form main div.labels {
    display: block;
    text-align: left;
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  #nav-bar input {
    right: 5.4vw;
  }
  #survey-form main div#portfolio {
    width: 100%;
  }
  main div#thanks {
    font-size: 1rem;
    padding: 20.5vh 7vw;
  }
}

@media screen and (max-width: 700px) {
  #nav-bar input {
    right: 5vw;
  }
  #survey-form h1 {
    padding: 15vh 0 0 22vw;
  }
  #survey-form h1.consent {
    padding: 15vh 0 0 20vw;
  }
  #survey-form h1.thanks {
    padding: 15vh 0 0 16vw;
  }
}

@media screen and (max-width: 650px) {
  .rwd-break {
    display: block;
  }
  #nav-bar input {
    right: 4.5vw;
  }
  #survey-form h1 {
    padding: 15vh 0 0 20vw;
  }
  #survey-form h1.consent {
    padding: 15vh 0 0 17vw;
  }
  #survey-form h1.thanks {
    padding: 15vh 0 0 14vw;
  }
  main div#thanks {
    font-size: 1rem;
    padding: 20.7vh 4vw;
  }
  main div#thanks span.dot {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 600px) {
  #nav-bar input {
    right: 3.8vw;
  }
  #survey-form h1 {
    padding: 15vh 0 0 18vw;
  }
  #survey-form h1.consent {
    padding: 15vh 0 0 15vw;
  }
  #survey-form h1.thanks {
    padding: 15vh 0 0 10vw;
  }
  main div#thanks {
    padding: 20.7vh 3vw;
  }
  main div#thanks span.dot {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 550px) {
  #nav-bar input {
    right: 3vw;
  }
  #survey-form main {
    width: 80vw;
  }
  #survey-form h1 {
    padding: 15vh 0 0 15vw;
  }
  #survey-form h1.consent {
    padding: 15vh 0 0 12vw;
  }
  #survey-form h1.thanks {
    padding: 15vh 0 0 7vw;
  }
}

@media screen and (max-width: 500px) {
  #nav-bar input {
    right: 2vw;
  }
  #survey-form h1 {
    padding: 15vh 0 0 12vw;
    font-size: 1.65rem;
  }
  #survey-form h1.thanks {
    padding: 15vh 0 0 9vw;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 460px) {
  #landing-page h1 {
    margin-right: 8%;
  }
  #landing-page h2 {
    margin-right: 6%;
  }
  #participate div.participate-button {
    font-size: 1rem;
    line-height: 40px;
  }
  #nav-bar input {
    right: 1vw;
  }
  #survey-form h1 {
    padding: 15vh 0 0 12vw;
    font-size: 1.5rem;
  }
  #survey-form h1.thanks {
    padding: 15vh 0 0 6vw;
  }
  main div#thanks {
    padding: 19.3vh 3vw;
  }
}

@media screen and (max-width: 400px) {
  #landing-page h1 {
    margin-right: 10%;
  }
  #landing-page h1 span.title {
    font-size: 3.2rem;
  }
  #landing-page h1 span.title span {
    font-size: 3.4rem;
  }
  #landing-page h2 {
    margin-right: 4%;
  }
  .btt-break {
    display: block;
  }
  #nav-bar input {
    right: 1vw;
  }
  #survey-form h1 {
    padding: 15vh 0 0 8vw;
  }
  #survey-form h1.consent {
    padding: 15vh 0 0 7.9vw;
  }
}

@media screen and (max-width: 380px) {
  #landing-page h1 {
    margin-right: 8%;
  }
  #landing-page h2 {
    margin-right: 2.5%;
  }
  #survey-form main {
    width: 90vw;
  }
  #survey-form h1 {
    padding: 15vh 0 0 4vw;
  }
  #survey-form h1.consent {
    padding: 15vh 0 0 6vw;
  }
  #survey-form h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 360px) {
  .mtr-break {
    display: block;
  }
  #landing-page h1 {
    margin-right: 6%;
  }
  #landing-page h2 {
    margin-right: 0%;
  }
  #survey-form h1 {
    padding: 15vh 0 0 6vw;
  }
  #survey-form h1.consent {
    padding: 15vh 0 0 7vw;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 340px) {
  #landing-page h1 {
    margin-right: 5%;
  }
  .survey-break {
    display: none;
  }
  #survey-form h1 {
    padding: 15vh 0 0 7vw;
    font-size: 1.4rem;
  }
  #survey-form h1.consent {
    padding: 15vh 0 0 4vw;
  }
  #survey-form main {
    width: 95vw;
  }
}

@media screen and (max-width: 320px) {
  #landing-page h1 span.title {
    font-size: 3rem;
  }
  #landing-page h1 span.title span {
    font-size: 3.2rem;
  }
  #landing-page h1 {
    margin-right: 5%;
  }
  #landing-page h2 {
    margin-right: -8%;
  }
  #survey-form h1 {
    padding: 15vh 0 0 5vw;
    font-size: 1.3rem;
  }
  #survey-form h1.consent {
    padding: 15vh 0 0 4vw;
    font-size: 1.3rem;
  }
  #survey-form main {
    width: 100vw;
  }
}

/*----------------------------------------
   animation fade-out
  ----------------------------------------*/
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*----------------------------------------
   animation slide-in-right
  ----------------------------------------*/
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
